body {
    text-align: center;
}

ul {
    display: inline-block;
    width: auto;
}


#movie_table {
    margin: 0 12%;
    width: auto;
}

#movie_table th {
    font-size: 15px;
    padding: 15px 7px;
}

.movie_td {
    display: inline-block;
    border: rgba(87, 87, 87, 0.59) 1px solid;
    border-radius: 10px;
    text-align: left;
    width: 40%;
    margin: 15px;
    padding: 10px;
}

.movie_image {
    width: 140px;
    height: auto;
    padding-left: 15px;
}

.movie_ranking {
    position: relative;
    top: 20px;
    font-size: 23px;
    font-weight: bold;
    background: black;
    color: white;
    padding: 2px 12px;
    border-radius: 20px;
}

.movie_name {
    font-size: 20px;
    font-weight: bold;
}

#guest_name {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.movie_checkbox {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}

.movie_checkbox:first-child {
    margin-left: 0;
}

.form_button {
    margin-top: 10px;
    width: 70px;

}
